DeliveryService/src/main/resources/xsd/Transaction.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Transaction">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:int" name="id"/>
                <xs:element type="xs:int" name="storeId"/>
                <xs:element type="xs:int" name="productId"/>
                <xs:element type="xs:int" name="quantity"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

